.menubarTrigger {
  font-size: 0.875rem;
  font-weight: 400;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.4375rem;
  padding-right: 0.4375rem;
  border-radius: 0.125rem;
  height: auto;
}

.menubarTrigger:hover {
  background-color: hsl(var(--muted));
}

.menubarIcon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
